* {
    margin: 0;
    padding: 0;
    font-family: cursive ;
    box-sizing: content-box;
}

body{
    background-color: rgb(255, 255, 255);
    background-image: url(../Images/cubes-2492010.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

em {
    font-size: 15vh;
    letter-spacing: 2px;
}

.header {
    padding: 20px;
    margin-top: -50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

.header {
    font-size: 50px;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.header li {
    display: inline-block;
    font-size: 25px;
    padding: 5px;
    list-style-type: none;
}


nav a{
    color: white;
    font-weight: bolder;
    text-decoration: solid;
}
nav a:hover {
    transition: 1s;
    color: rgb(255, 46, 46);
}

.hero {
    position: absolute;
    left: 10vh;
    margin-top: 30px;
    width: 30%;
    height: 40%;
    padding: 90px;
    box-shadow: 0 0 10px 2px black;
    border: 1px solid black;
    border-radius: 20px;

    background-image: url(../Images/IMG_0692.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: capitalize;
    margin-top: 38px;
    margin-bottom: 0px;
    margin-right: 40%;
    margin-left: auto;
}

.welcome {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 60%;
    margin-right: auto;  
    text-align: center;
    padding: 40px;
    border-style: solid;
    border-color: #040404;
    border-radius: 20px;
    background-color: #ffffff;
    flex: wrap;
    flex-wrap: wrap;
    display: block;
    font-size: x-large;
    transition: all .5s ease-in-out;
}

.welcome:hover {
    box-shadow: inset 0px 0px 100px rgb(34, 34, 34), 0 0 15px rgb(255, 0, 0);
}

@media (min-width:800px) and (max-width: 1200px) {
    em {
        font-size: 5vh;
        letter-spacing: 1px;
    }
    body{
        background-color: rgb(255, 255, 255);
        background-image: url(../Images/cubes-2492010.jpg);
        background-repeat: repeat;
        background-size: cover;
    }
}

@media (min-width:680px) and (max-width: 800px) {
    em {
        font-size: 0vh;
        letter-spacing: 1px;
    }
    body{
        background-color: rgb(255, 255, 255);
        background-image: url(../Images/cubes-2492010.jpg);
        background-repeat: repeat;
        background-size: cover;
    }
    .welcome {
        display: flex;
        flex: wrap;
        flex-wrap: wrap;
        font-size: large;
        width: 250px;
        height: 375px;
        margin-top: 80%;
        margin-left: 30%;
        margin-right: 0%;
        text-align: center;
        padding: 40px;
        border-style: solid;
        border-color: #040404;
        border-radius: 20px;
        background-color: #ffffff;
    }
    .hero {
        position: absolute;
        left: 22vh;
        margin-top: 30px;
        width: 30%;
        height: 40%;
        padding: 90px;
        box-shadow: 0 0 10px 2px black;
        border: 1px solid black;
        border-radius: 20px;
    
        background-image: url(../Images/mountain-g690fec59c_1920.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-transform: capitalize;
        margin-top: 38px;
        margin-bottom: 0px;
        margin-right: 40%;
        margin-left: auto;
    }
}

@media (min-width:00px) and (max-width: 680px) {
    em {
        font-size: 0vh;
    }
    body{
        background-color: rgb(255, 255, 255);
        background-image: url(../Images/cubes-2492010.jpg);
        background-repeat: repeat;
        background-size: cover;
    }
    .welcome {
        display: flex;
        flex: wrap;
        flex-wrap: wrap;
        font-size: large;
        width: 250px;
        height: 375px;
        margin-top: 160%;
        margin-left: 25%;
        margin-right: 0%;
        text-align: center;
        padding: 40px;
        border-style: solid;
        border-color: #040404;
        border-radius: 20px;
        background-color: #ffffff;
    }

    .hero {
        position: absolute;
        left: 10vh;
        margin-top: 30px;
        width: 30%;
        height: 40%;
        padding: 90px;
        box-shadow: 0 0 10px 2px black;
        border: 1px solid black;
        border-radius: 20px;
    
        background-image: url(../Images/mountain-g690fec59c_1920.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-transform: capitalize;
        margin-top: 38px;
        margin-bottom: 0px;
        margin-right: 40%;
        margin-left: auto;
    }
}