
* {
    margin: 0;
    padding: 0;
    font-family: cursive ;
    box-sizing: content-box;
}

body{
    background-color: rgb(255, 255, 255);
    background-image: url(../Images/cubes-2492010.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.fam {
    height: 80px;
    width: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    z-index: 1;
    background-image: url(../Images/IMG_0692.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130px;
  }
  
.fam:hover {
    transform: scale(2);
  }

.header {
    padding: 20px;
    margin-top: -50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

.header {
    font-size: 50px;
}

/*trying to make a nav bar after scoll down
nav::after{
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
}
*/
/* Nav links*/
.header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.header li {
    display: inline-block;
    font-size: 25px;
    padding: 5px;
    list-style-type: none;
}


nav ul li a{
    color: white;
    font-weight: bolder;
    text-decoration: solid;
}
nav a:hover {
    transition: 1s;
    color: rgb(255, 46, 46);
}
em {
    font-size: 15vh;
    letter-spacing: 10px;
}

.welcome {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 35%;  
    text-align: center;
    padding: 40px;
    border-style: solid;
    border-color: #040404;
    border-radius: 20px;
    background-color: #ffffff;
    flex: wrap;
    flex-wrap: wrap;
    display: block;
    font-size: x-large;
}
.emailMe {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 5%;  
    text-align: center;
    padding: 40px;
    border-style: solid;
    border-color: #040404;
    border-radius: 20px;
    background-color: #ffffff;
    flex: wrap;
    flex-wrap: wrap;
    display: block;
    font-size: x-large;
}

.gitHub {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 65%;  
    text-align: center;
    padding: 40px;
    border-style: solid;
    border-color: #040404;
    border-radius: 20px;
    background-color: #ffffff;
    flex: wrap;
    flex-wrap: wrap;
    display: block;
    font-size: x-large;
}

@media (min-width:800px) and (max-width: 1200px) {
    em {
        font-size: 5vh;
        letter-spacing: 1px;
    }
    body{
        background-color: rgb(255, 255, 255);
        background-image: url(../Images/cubes-2492010.jpg);
        background-repeat: repeat;
        background-size: cover;
    }
}

@media (min-width:680px) and (max-width: 800px) {
    em {
        font-size: 0vh;
        letter-spacing: 1px;
    }
    body{
        background-color: rgb(255, 255, 255);
        background-image: url(../Images/cubes-2492010.jpg);
        background-repeat: repeat;
        background-size: cover;
    }
    .welcome {
        display: flex;
        flex: wrap;
        flex-wrap: wrap;
        font-size: large;
        width: 250px;
        height: 375px;
        margin-top: 80%;
        margin-left: 30%;
        margin-right: 0%;
        text-align: center;
        padding: 40px;
        border-style: solid;
        border-color: #040404;
        border-radius: 20px;
        background-color: #ffffff;
    }

}

@media (min-width:00px) and (max-width: 680px) {
    em {
        font-size: 0vh;
    }
    body{
        background-color: rgb(255, 255, 255);
        background-image: url(../Images/cubes-2492010.jpg);
        background-repeat: repeat;
        background-size: cover;
    }
    .welcome {
        display: flex;
        flex: wrap;
        flex-wrap: wrap;
        font-size: large;
        width: 250px;
        height: 375px;
        margin-top: 160%;
        margin-left: 25%;
        margin-right: 0%;
        text-align: center;
        padding: 40px;
        border-style: solid;
        border-color: #040404;
        border-radius: 20px;
        background-color: #ffffff;
    }
}